@font-face {
  font-family: 'apercu-mono-pro';
  src: url('Apercu-Mono-Medium-Pro.eot');
  src: url('Apercu-Mono-Medium-Pro.eot?#iefix') format('embedded-opentype'),
    url('Apercu-Mono-Medium-Pro.woff2') format('woff2'),
    url('Apercu-Mono-Medium-Pro.woff') format('woff'),
    url('Apercu-Mono-Medium-Pro.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-pro';
  src: url('ApercuPro-Light.eot');
  src: url('ApercuPro-Light.eot?#iefix') format('embedded-opentype'),
       url('ApercuPro-Light.woff2') format('woff2'),
       url('ApercuPro-Light.woff') format('woff'),
       url('ApercuPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-pro';
  src: url('ApercuPro.eot');
  src: url('ApercuPro.eot?#iefix') format('embedded-opentype'),
       url('ApercuPro.woff2') format('woff2'),
       url('ApercuPro.woff') format('woff'),
       url('ApercuPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-pro';
  src: url('ApercuPro-Italic.eot');
  src: url('ApercuPro-Italic.eot?#iefix') format('embedded-opentype'),
       url('ApercuPro-Italic.woff2') format('woff2'),
       url('ApercuPro-Italic.woff') format('woff'),
       url('ApercuPro-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'apercu-pro';
  src: url('ApercuPro-Medium.eot');
  src: url('ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('ApercuPro-Medium.woff2') format('woff2'),
       url('ApercuPro-Medium.woff') format('woff'),
       url('ApercuPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'apercu-pro';
  src: url('ApercuPro-Bold.eot');
  src: url('ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('ApercuPro-Bold.woff2') format('woff2'),
       url('ApercuPro-Bold.woff') format('woff'),
       url('ApercuPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'canela-text';
    src: url('CanelaText-Regular.woff') format('woff'),
      url('CanelaText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'canela';
    src: url('Canela-Regular.woff2') format('woff2'),
      url('Canela-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'canela';
    src: url('Canela-RegularItalic.woff2') format('woff2'),
      url('Canela-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'canela';
    src: url('Canela-Medium.woff2') format('woff2'),
      url('Canela-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'canela';
    src: url('Canela-MediumItalic.woff2') format('woff2'),
      url('Canela-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
  }
