.profilePic {
    height: 100vh;
    margin-bottom: 0;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    position: sticky;
    top:0;
    width: 100vw;
}
.homeHeading {
    color: var(--color-gray-0);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-10);
    font-weight: var(--fontWeight-bold);
    line-height: var(--lineHeight-tight);
}

.homeSubhead {
    color: var(--color-gray-4);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-2);
    font-weight: var(--fontWeight-medium);
    letter-spacing: var(--letterSpacing-wide);
    margin-bottom: var(--space-4);
    text-transform: uppercase;
}

.homeDek, .homeDescription {
    color: var(--color-gray-1);
    font-family: var(--fontFamily-serifBody);
    font-weight: var(--fontWeight-normal);
}

.homeDek {
    font-size: var(--fontSize-5);
    line-height: var(--lineHeight-standard);
}

.homeDescription {
    font-size: var(--fontSize-2);
    line-height: var(--lineHeight-generous);
}

.homeExperience {
    background: var(--color-gray-0);
    padding: var(--space-6) 0;
}

.homeWriting {
    background: var(--color-gray-6);
    padding: var(--space-6) 0;
}

.job {
    margin-bottom: var(--space-4);
}

.jobDates {
    color: var(--color-slate-2);
    font-family: var(--fontFamily-sans);
    font-size: 14px;
    font-weight: var(--fontWeight-medium);
    letter-spacing: var(--letterSpacing-wide);
    text-transform: uppercase;
}

.jobCompany {
    font-family: var(--fontFamily-serifHeading);
    font-size: var(--fontSize-4);
    font-weight: var(--fontWeight-normal);
    line-height: var(--lineHeight-comfortable);
    margin-bottom: var(--space-0);
}

.jobCompany a {
    color: var(--color-gray-8);
    text-decoration: none;
}

.jobDescription {
    color: var(--color-gray-4);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-1);
    line-height: var(--lineHeight-comfortable);
}

.articleSummary {
    margin-bottom: var(--space-5);
}

.articleType {
    color: var(--color-slate-1);
    font-family: var(--fontFamily-sans);
    font-size: 14px;
    font-weight: var(--fontWeight-medium);
    letter-spacing: var(--letterSpacing-wide);
    text-transform: uppercase;
}

.articleTitle {
    font-family: var(--fontFamily-serifHeading);
    font-size: var(--fontSize-4);
    font-weight: var(--fontWeight-normal);
    line-height: var(--lineHeight-comfortable);
    margin-bottom: var(--space-0);
}

.articleTitle a {
    color: var(--color-gray-2);
    text-decoration: none;
}

.articleTeaser {
    color: var(--color-gray-3);
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-1);
    line-height: var(--lineHeight-comfortable);
}
